# clean up after running
src/main.o
src/main.out
src/main.asm
main.asm
main.o
main.out
out/main.o
out/main.asm
out/main.out
src/__pycache__/
src/libs/__pycache__/

# preparing for rust instead of python..!
src/main.py
src/libs/assembly.py
src/libs/compilefiles.py
src/libs/__init__.py
src/libs

# not to bloat
target/debug/
target/CACHEDIR.TAG
target/.rustc_info.json
target/release/.fingerprint
target/release/build
target/release/deps
target/release/incremental
target/release/.cargo-lock
target/release/zres.d